.about {
  margin: 75px 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 320px) and (max-width: 560px) {
  .about {
    margin: 60px 0 0 0;
    flex-wrap: wrap;
  }
}