.aboutMe__title {
  margin: 0;
  color: #000000;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}
@media (max-width: 768px) {
  .aboutMe__title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (min-width: 320px) and (max-width: 560px) {
  .aboutMe__title {
    margin: 40px 0 20px 0;
    font-size: 30px;
  }
}