.profile__submit {
  padding: 0;
  width: 100%;
  height: 45px;
  border: none;
  color: rgba(255,255,255, 1);
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(52,86,243, 1);
  border-radius: 3px;
  cursor: pointer;
}