.section_about {
  padding-top: 110px;
  padding-bottom: 141px;
}
@media (max-width: 768px) {
  .section_about {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (min-width: 320px) and (max-width: 560px) {
  .section_about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}