.preloader {
  padding: 30px 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(43, 224,128, .3);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 50px 10px rgba(43,224,128, .2);
  border-radius: 10px;
  box-sizing: border-box;
}