.about__title {
  margin: 0;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  word-spacing: 1px;
}
@media (min-width: 320px) and (max-width: 560px) {
  .about__title {
    font-size: 18px;
  }
}