.footer__year {
  color: rgba(0,0,0, 1);
  font-size: 13px;
  font-weight: 400;
}
@media (min-width: 320px) and (max-width: 540px) {
  .footer__year {
    margin: 30px 0 0 0;
    color: rgba(160,160,160, 1);
    font-size: 12px;
  }
}