.section__title {
  margin: 0;
  padding-bottom: 22px;
  color: #000000;
  font-size: 22px;
  letter-spacing: -1px;
  font-weight: 400;
  border-bottom: 1px solid black;
}
@media (min-width: 320px) and (max-width: 560px) {
  .section__title {
    font-size: 18px;
  }
}